.button-error, .button-success {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
  padding: 10px;
  background-color: blue;
  overflow: hidden;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 10px;
  padding: 10px;
  background-color: blue;
  overflow: hidden;
}

.button-success {
  width: 180.1666666667px;
  background-color: green;
  padding: 20px;
  border-top: 3px solid orange;
  border-bottom: 3px solid orange;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  color: blue;
  line-height: normal;
}

.button-error {
  background-color: red;
  border-top: 3px solid purple;
  border-bottom: 3px solid purple;
  font-size: calc(16px * 1.5);
}

.button-error {
  color: black;
}