.header {
  margin-top: 71px;
  margin-bottom: 92px;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header__link {
  text-transform: uppercase;
  color: #b4ad9e;
}
.header__link:hover {
  color: #03a9f4;
}