.gallery {
  margin-bottom: 66px;
}
.gallery-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.gallery-articles {
  margin-bottom: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  row-gap: 130px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.gallery-article {
  width: 420px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 62px;
}
.gallery-article-thumb {
  overflow: hidden;
  position: relative;
}
.gallery-article:hover .article-home-product-overlay {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.gallery-image {
  width: 420px;
  height: 280px;
}
.gallery-name {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  color: #b4ad9e;
}
.gallery-name:not(:last-child) {
  margin-bottom: 32px;
}
.gallery-title {
  font-size: 30px;
}
.gallery-title:not(:last-child) {
  margin-bottom: 40px;
}
.gallery-texe:not {
  margin-bottom: 20px;
}
.gallery-button {
  overflow: hidden;
  position: relative;
  display: inline-block;
  background-color: #ffffff;
  border: 1px solid #626262;
  padding: 20px 48px;
}
.gallery-button::before, .gallery-button::after {
  content: "";
  width: 20px;
  height: 20px;
  margin-right: 5px;
  display: inline-block;
  background-size: contain;
  -webkit-transition: -webkit-transform 500ms cubic-bezier(0.83, -0.08, 0.32, 1) 100ms;
  transition: -webkit-transform 500ms cubic-bezier(0.83, -0.08, 0.32, 1) 100ms;
  transition: transform 500ms cubic-bezier(0.83, -0.08, 0.32, 1) 100ms;
  transition: transform 500ms cubic-bezier(0.83, -0.08, 0.32, 1) 100ms, -webkit-transform 500ms cubic-bezier(0.83, -0.08, 0.32, 1) 100ms;
}
.gallery-button::before {
  margin-right: 5px;
  background-image: url("../img/cat.webp");
}
.gallery-button::after {
  background-image: url("../img/dog.webp");
  position: absolute;
  top: 50%;
  left: 45px;
  -webkit-transform: translateY(calc(-50% + 50px));
          transform: translateY(calc(-50% + 50px));
}
.gallery-button:hover::before {
  -webkit-transform: translateY(-45px);
          transform: translateY(-45px);
}
.gallery-button:hover::after {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.gallery__section {
  margin-bottom: 66px;
}
.gallery__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.gallery__articles {
  margin-bottom: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  row-gap: 130px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.gallery__article {
  width: 420px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 62px;
}
.article-gallery__thumb {
  position: relative;
  overflow: hidden;
}
.article-gallery__image {
  width: 420px;
  height: 280px;
}
.article-gallery__overlay {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  background-color: #03a9f4;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: -webkit-transform 500ms cubic-bezier(0.83, -0.08, 0.32, 1) 100ms;
  transition: -webkit-transform 500ms cubic-bezier(0.83, -0.08, 0.32, 1) 100ms;
  transition: transform 500ms cubic-bezier(0.83, -0.08, 0.32, 1) 100ms;
  transition: transform 500ms cubic-bezier(0.83, -0.08, 0.32, 1) 100ms, -webkit-transform 500ms cubic-bezier(0.83, -0.08, 0.32, 1) 100ms;
}
.article-gallery__overlay .gallery-artilce:hover {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.cycle-gallary__text {
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  color: red;
  line-height: normal;
}

.cycle-gallary__text-black {
  color: black;
}

.cycle-gallary__text-red {
  color: red;
}

.cycle-gallary__text-lightsalmon {
  color: lightsalmon;
}