// &display=swap обязково в силкі шрифту
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:regular,500,600,700,800,900,italic,500italic,600italic,700italic,800italic,900italic&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,300italic,regular,italic,500,500italic,700,700italic&display=swap');

//!Import base
@import './base/reset.scss';
@import './base/variables.scss';

//!import utils
@import './utils/mixins.scss';
@import './utils/placeholders.scss';

body {
	font-family: 'Playfair Display', serif;
	font-weight: Regular;
	font-size: 14px;
	font-style: normal;
	line-height: normal;
	color: dark;
}
.container {
	width: 906px;
	margin: 0 auto;
	padding: 0 15px;
}
//! Import components
@import './components/buttons.scss';
@import './components/header.scss';
//!import pages
@import './pages/home.scss';
