@mixin bordered($color) {
	border-top: 3px solid $color;
	border-bottom: 3px solid $color;
}

@mixin flexible() {
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin text($fontSize, $fontWeight, $color) {
	font-size: $fontSize;
	font-weight: $fontWeight;
	font-style: normal;
	color: $color;
	line-height: normal;
}
