
$lightBlackColor: #626262;
$darkWhiteColor: #b4ad9e;
$lightDarkColor: #7d7d7d;
$blueColor:#03a9f4;
$whiteColor:#ffffff;

$maxWidth: 1400px;
$fontSize: 14px;
$fontWeight: 500;


$mainFontFamily: 'Plafair Display', serif;
$secondaryFontFamily: 'Ubuntu', sans-serif;

$mainFontSize: 16px;